body{
    text-align: center;
    background-color: aquamarine;
}
h1{
    background-color: aqua;
}
.i{
    color:chocolate;
    font-style:italic
}
.molinero{
    font-size:xx-large;
    color: burlywood;
}
.gato{
    font-size: x-large;
    color: orange;
}
#rey{
    font-size: large;
    color: yellow;
}
.pimpar{
    text-align: justify;
    margin-top: 15px;
    margin-right:300px;
    margin-bottom:5px;
    margin-left:300px;
    background-color: coral;
}
.par{
    text-align: justify;
    margin-top: 5px;
    margin-right:200px;
    margin-bottom:5px;
    margin-left:200px;
    background-color:khaki;
}