* {
    /*Selector universal */
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

body {
    /*Selector de tipo o etiqueta*/
    background-color: lightgreen;
    background-image: url("../Imagenes/fondo3.webp");
}

h1 {
    /*Selector de tipo o etiqueta*/
    color: orangered;
    background-color: rgb(238, 205, 144);
    border: 3px solid orange;
    margin: auto;
    width: 30%;
    height: 1em;
    padding: 10px 50px 20px;
    font-family: 'PT Sans', Verdana, sans-serif;
    background-image: url("../Imagenes/fondo2.jpeg");
}

p span {
    /*Selector descendente*/
    margin: auto;
    font-style: italic;
}

.pimpar {
    /*Selector de clase*/
    margin: auto;
    text-indent: 40px;
    text-transform: capitalize;
    background-color: bisque;
    border: 5px solid coral;
    margin: 1%;
    padding: 1%;

}

.par {
    /*Selector de clase*/
    text-indent: 40px;
    text-transform: uppercase;
    background-color: aquamarine;
    border: 5px solid aqua;
    margin: 1%;
    padding: 1%;
}

.gato {
    /*Selector de clase*/
    color: orange;

}

.molinero {
    /*Selector de clase*/
    color: chocolate;
}

.i {
    /*Selector de clase*/
    color: cornflowerblue;
}

#rey {
    /*Selector de ID*/
    color: yellowgreen;
}